<%- include("partials/header") %>

<h2><%= title %></h2>

<ul>
    <li>Neighborhood Cleanup</li>
    <li>Food Drive</li>
    <li>Tree Planting</li>
    <li>School Tutoring</li>
</ul>

<%- include("partials/footer") %>